/* SETUP & STRUCTURE */

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--primary-background-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: clamp(16px, 1.2rem, 30px);
    color: var(--primary-text-color);
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    padding: 0;
    margin: 0;

    /*  DEV TOOLS 
    border: 2px solid red;
    padding: 1px; 

    section {
    min-height: 250px;
    }
    */
    
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mainHeader {
    position: sticky;
    top: 0;
    z-index: 3;
}

picture, img {
    display: block;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}



.content-wrapper {
    display:flex;
    flex-wrap: wrap;
    padding: 0 3vw;
}

/* THEME */

@media (prefers-color-scheme: light) {
    :root {
        --primary-background-color: white;
        --secondary-background-color: darkslategray;
        --primary-accent-color: darkorange;
        --secondary-accent-color: deepskyblue;
        --shadow-primary-light: rgba(255, 140, 0, 0.5);
        --shadow-primary-dark: rgba(255, 140, 0, .75);
        --shadow-secondary-light: rgba(0, 191, 255, 0.5);
        --shadow-secondary-dark: rgba(0, 191, 255, .75);

        --start: 50%;
    }
}



@media (prefers-color-scheme: dark) {
    :root {
        --primary-background-color: white;
        --secondary-background-color: darkslategray;
        --primary-accent-color: darkorange;
        --secondary-accent-color: deepskyblue;
        --shadow-primary-light: rgba(255, 140, 0, 0.5);
        --shadow-primary-dark: rgba(255, 140, 0, .75);
        --shadow-secondary-light: rgba(0, 191, 255, 0.5);
        --shadow-secondary-dark: rgba(0, 191, 255, .75);

        --start: 50%;
    }
}

/* STYLE */

.mainHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: var(--primary-background-color);
}

.mainHeader div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 33%;
}

.mainHeader img {
    max-width: 100px;
    height: auto;
}



.mainHeader nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: clamp(1rem, 3vw, 2.5rem);
}

.mainHeader nav img {
    max-width: 75px;
    height: auto;
}

.signUp {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1rem 0;
    color: var(--secondary-background-color);
    background-color: var(--primary-background-color);
}

.signUp div {
    flex: 1 1 550px;   
}

.signUp article {
    padding: clamp(1rem, 3vw, 2.5rem);
    margin: clamp(1rem, 3vw, 2.5rem);
    
    
}

.signUp h1 {
    color: var(--primary-accent-color);
}

button {
    border: none;
    min-width: 10em;
    padding: clamp(1rem, 3vw, 2.5rem);
    margin: clamp(1rem, 3vw, 2.5rem);
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    
    background-color: var(--secondary-accent-color);
    color: var(--primary-background-color);
}

button:focus {
    outline: 2px solid var(--secondary-accent-color);
    outline-offset: 2px; 
}

button:hover {
    color: var(--primary-accent-color);
    transform: translateY(-2px);
}

/* IMAGE SWAP */

.img-swap p:first-child {
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  position: absolute;
  resize: horizontal;
  right: calc(100% - var(--start));
  top: 0;
  
}

.img-swap p:first-child img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-swap p:first-child::before, .img-swap p:first-child::after {
  background: var(--primary-background-color);
  bottom: 0.8em;
  content: "Drag by this corner";
  font-size: 0.8em;
  opacity: 0;
  padding: 0.2em 0.5em;
  position: absolute;
  right: 1.5em;
  transition: all 0.5s;
  z-index: 1;
}

.img-swap p:first-child::before {
  color: transparent;
  transform: skew(30deg, 0) translate(0.4em, 0);
}

.img-swap p:not(:first-child) img {
  max-width: 100%;
}

.img-swap p:focus::before, .img-swap p:focus::after {
  opacity: 1;
}

figure {
  position: relative;
  cursor: ew-resize;
}

figure figcaption {
  background: rgba(0, 0, 0, 0.7);
  color: var(--secondary-background-color);
  left: 0;
  padding: 1em;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.5s;
  transform: scale(1, 0);
  transform-origin: 0 0;
}

figure:focus-within figcaption {
  transform: scale(1, 1);
}

/* PRODUCTS */


.products {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    justify-content: space-evenly;
    color: var(--primary-background-color);
}

.products h2 {
    justify-self: center;
}


.products article {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

.products article h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: clamp(1rem, 3vw, 2.5rem);
    background-color: var(--shadow-secondary-dark);
    color: var(--primary-background-color);
    border-radius: 5px;
}




.products article p {
    text-align: center;
    padding: clamp(1rem, 3vw, 2.5rem);
    color: var(--secondary-background-color);
    
}

.products article h2:hover {
    color: var(--primary-accent-color);
}

.aboutQuote {
    background-color: var(--secondary-background-color);
}

.aboutQuote .content-wrapper {
    flex-direction: column;
    margin: clamp(1rem, 3vw, 2.5rem);
    color: var(--primary-background-color);
    font-family: monospace;
}


.aboutQuote .content-wrapper h3{
    display: flex;
    justify-content: flex-end;
    color: var(--primary-accent-color);
}

.sustainability {
    position: relative;
    text-align: center;
    color: var(--primary-background-color);
    
}



.sustainability article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: clamp(1rem, 3vw, 2.5rem);
    background-color: var(--shadow-secondary-dark);
}

.sustainability button {
    background-color: var(--primary-background-color);
    color: var(--primary-accent-color);
}

.sustainability button:hover {
    color: var(--secondary-accent-color);
}

.faqs {
    margin: clamp(1rem, 3vw, 2.5rem);
    color: var(--primary-background-color);
    background-image: url(Images/deck-building-progress.jpg);
    background-position: center;
    
}

.faqs p {
    padding: clamp(1rem, 3vw, 2.5rem);
    background-color: var(--shadow-primary-dark);
}

.faqs button {
    background-color: var(--secondary-accent-color);
    color: var(--primary-background-color);
}

.faqs button:hover {
    color: var(--primary-accent-color);
}

.cta {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
    
}

.cta address {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
    justify-content: center;
    align-items: center;
    margin: clamp(1rem, 3vw, 2.5rem);
    padding: clamp(1rem, 3vw, 2.5rem);
    background-color: var(--secondary-accent-color);
    color: var(--primary-background-color);
    
}

.cta article {
    margin: clamp(1rem, 3vw, 2.5rem);
    padding: clamp(1rem, 3vw, 2.5rem);
    
}

.cta button {
    margin: clamp(1rem, 3vw, 2.5rem);
    background-color: var(--primary-accent-color);
    color: var(--primary-background-color);
}

.cta button:hover {
    color: var(--secondary-accent-color);
}

footer .content-wrapper {
    justify-content: space-evenly;
    margin: clamp(1rem, 3vw, 2.5rem);
    color: var(--primary-accent-color);
    
}