/* SETUP & STRUCTURE */

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--primary-background-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: clamp(16px, 1.2rem, 30px);
    color: var(--primary-text-color);
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    padding: 0;
    margin: 0;

    /*  DEV TOOLS 
    border: 2px solid red;
    padding: 1px; 

    section {
    min-height: 250px;
    }
    */
    
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mainHeader {
    position: sticky;
    top: 0;
    z-index: 3;
}

picture, img {
    user-select: none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -webkit-touch-callout:none;
    pointer-events: none;
    display: block;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}



.content-wrapper {
    display:flex;
    flex-wrap: wrap;
    padding: 0 3vw;
}

/* THEME */

@media (prefers-color-scheme: light) {
    :root {
        --primary-text-color: white;
        --primary-background-color: white;
        --secondary-background-color: black;
        --primary-accent-color: darkorange;
        --secondary-accent-color: deepskyblue;
        --shadow-primary-light: rgba(255, 140, 0, 0.5);
        --shadow-primary-dark: rgba(255, 140, 0, .75);
        --shadow-secondary-light: rgba(0, 191, 255, 0.5);
        --shadow-secondary-dark: rgba(0, 191, 255, .75);
    }
}



@media (prefers-color-scheme: dark) {
    :root {
        --primary-text-color: white;
        --primary-background-color: black;
        --secondary-background-color: white;
        --primary-accent-color: darkorange;
        --secondary-accent-color: deepskyblue;
        --shadow-primary-light: rgba(255, 140, 0, 0.5);
        --shadow-primary-dark: rgba(255, 140, 0, .75);
        --shadow-secondary-light: rgba(0, 191, 255, 0.5);
        --shadow-secondary-dark: rgba(0, 191, 255, .75);
    }
}

/* STYLE */

.mainHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: var(--primary-text-color);
}

.mainHeader div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 33%;
}

.mainHeader img {
    max-width: 100px;
    height: auto;
}



.mainHeader nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.mainHeader nav img {
    max-width: 75px;
    height: auto;
}

.intro {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: var(--secondary-background-color);
    background-color: var(--primary-background-color);
}



.intro article {
    padding: clamp(1rem, 3vw, 2.5rem);
    margin: clamp(1rem, 3vw, 2.5rem);
    
    
}

.intro h1 {
    color: var(--primary-accent-color);
}

.content {
    margin: auto;
    align-items: center;
    color: var(--secondary-background-color);
    background-color: var(--primary-background-color);
}



.content article {
    margin: auto;
    padding: clamp(1rem, 3vw, 2.5rem);
    margin: clamp(1rem, 3vw, 2.5rem);
    
    
}

.content h1 {
    margin: auto;
    color: var(--primary-accent-color);
}

button {
    border: none;
    min-width: 10em;
    padding: clamp(1rem, 3vw, 2.5rem);
    margin: clamp(1rem, 3vw, 2.5rem);
    font-size: 1rem;
    font-weight: 750;
    border-radius: 5px;
    
    background-color: var(--secondary-accent-color);
    color: var(--primary-text-color);
}

button:focus {
    outline: 2px solid var(--secondary-accent-color);
    outline-offset: 2px; 
}

button:hover {
    color: var(--primary-accent-color);
    transform: translateY(-2px);
}

/* IMAGE SWAP */

.comparison-slider {
    position: relative;
    width: 100%;
    flex-basis: 1 1 650px;
    overflow: hidden;
    cursor: ew-resize;
}

/* Style for the 'before' and 'after' images */
.comparison-slider img {
    width: 100%;
    display: block;
}

/* The 'after' image will overlay the 'before' image */
.after-image {
    position: absolute;
    top: 0;
    left: 90%; /* Initially shows half of the 'after' image */
    width: 100%;
    overflow: hidden;
    height: 100%;
    object-fit: cover;
    transition: left 0.4s ease;
}

/* The draggable handle */
.slider-handle {
    position: absolute;
    top: 0;
    left: 90%;
    width: 5px;
    height: 100%;
    background-color: var(--secondary-accent-color);
    cursor: ew-resize;
    z-index: 2;
    transition: left 0.4s ease;
}

.slider-handle h1 {
    user-select: none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -webkit-touch-callout:none;
    pointer-events: none;
    position: absolute;
    top: 85%;
    left: -90px;
    width: 0px;
    color: var(--primary-accent-color);
    cursor: ew-resize;
    z-index: 2;
    transition: left 0.4s ease;
}

/* Adding a shadow effect to the slider handle */
.slider-handle:before {
    content: '';
    position: absolute;
    top: 90%;
    left: -10px;
    width: 25px;
    height: 25px;
    background-color: var(--secondary-accent-color);
    border-radius: 50%;
    border: 3px solid var(--primary-text-color);
    transform: translateY(-50%);
}

/* On hover, reveal the entire 'after' image */
.comparison-slider:hover:active .after-image {
 left: 0;
}

/* On hover, move the slider handle to the left */
.comparison-slider:hover:active .slider-handle {
 left: 0;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .comparison-slider {
        max-width: 100%;
    }

    .slider-handle:before {
        width: 20px;
        height: 20px;
        left: -7px; /* Slightly smaller handle for mobile screens */
    }
}

/* pages */


.pages {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    justify-content: space-evenly;
    margin: clamp(1rem, 3vw, 2.5rem); 
    color: var(--primary-background-color);
}

.pages h2 {
    justify-self: center;
}


.pages article {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

.pages article h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: clamp(1rem, 3vw, 2.5rem);
    background-color: var(--secondary-accent-color);
    color: var(--primary-text-color);
    border-radius: 5px;
}




.pages article p {
    text-align: center;
    padding: clamp(1rem, 3vw, 2.5rem);
    color: var(--secondary-background-color);
    
}

.pages article h2:hover {
    color: var(--primary-accent-color);
}



.aboutQuote .content-wrapper {
    flex-direction: column;
    margin: clamp(1rem, 3vw, 2.5rem);
    border: 2px solid var(--secondary-accent-color);
    color: var(--secondary-background-color);
}


.aboutQuote .content-wrapper h3{
    display: flex;
    justify-content: flex-end;
    color: var(--primary-accent-color);
}

.aboutQuote blockquote {
    padding: clamp(1rem, 3vw, 2.5rem);
}

.sustainability {
    position: relative;
    text-align: center;
    color: var(--primary-background-color);
    
}



.sustainability article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: clamp(1rem, 3vw, 2.5rem);
    background-color: var(--shadow-secondary-dark);
}

.sustainability button {
    background-color: var(--primary-background-color);
    color: var(--primary-accent-color);
}

.sustainability button:hover {
    color: var(--secondary-accent-color);
}

.faqs {
    margin: clamp(1rem, 3vw, 2.5rem);
    color: var(--primary-text-color);
    background-image: url(Images/deck-building-progress.jpg);
    background-position: center;  
    font-weight: 600;
}

.faqs p {
    padding: clamp(1rem, 3vw, 2.5rem);
    background-color: var(--shadow-primary-dark);
}

.faqs button {
    font-weight: 1000;
    background-color: var(--secondary-accent-color);
    color: var(--primary-text-color);
}

.faqs button:hover {
    color: var(--primary-accent-color);
}

.faqsQA .content-wrapper{
    flex-direction: column;
}

.faqsQA summary {
    color: var(--primary-accent-color);
    margin: clamp(1rem, 3vw, 2.5rem);
    cursor: pointer;
}

.faqsQA details {
    color: var(--secondary-background-color);
    margin: clamp(1rem, 3vw, 2.5rem);
    

}



.cta {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
    
}

.cta address {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
    justify-content: center;
    align-items: center;
    margin: clamp(1rem, 3vw, 2.5rem);
    padding: clamp(1rem, 3vw, 2.5rem);
    background-color: var(--secondary-accent-color);
    color: var(--primary-background-color);
    
}

.cta article {
    margin: clamp(1rem, 3vw, 2.5rem);
    padding: clamp(1rem, 3vw, 2.5rem);
}

.cta h3 {
    color: var(--primary-accent-color);
}

.cta h4 {
    color: var(--primary-text-color);
}
.cta button {
    margin: clamp(1rem, 3vw, 2.5rem);
    font-weight: 1000;
    background-color: var(--primary-accent-color);
    color: var(--primary-text-color);
}

.cta button:hover {
    color: var(--secondary-accent-color);
}

footer .content-wrapper {
    justify-content: space-evenly;
    margin: clamp(1rem, 3vw, 2.5rem);
    color: var(--primary-accent-color);
    
}