html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--primary-background-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: clamp(16px, 1.2rem, 30px);
    font-weight: 750;
    color: var(--primary-text-color);
    background-image: url('Images/furnished-deck.webp');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.addressHeader {
    background-color: var(--primary-background-color);
}
.addressHeader address{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 5px;
    font-size: clamp(10px, 1rem, 16px);
    color: var(--secondary-text-color);
}
.mainHeader {
    position: sticky;
    top: 0;
    z-index: 3;
}
picture, img {
    user-select: none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -webkit-touch-callout:none;
    pointer-events: none;
    display: block;
    width: 100%;
    height: auto;
}
a {
    color: inherit;
    text-decoration: none;
}
button {
    cursor: pointer;
    padding: clamp(2rem, 6vw, 5rem);
    margin: clamp(2rem, 6vw, 5rem);
}
.content-wrapper {
    display:flex;
    flex-wrap: wrap;
    padding: 0 3vw;
}
@media (prefers-color-scheme: dark) {
    :root {
        --primary-text-color: white;
        --secondary-text-color: white;
        --primary-background-color: black;
        --secondary-background-color: white;
        --primary-accent-color: darkorange;
        --secondary-accent-color: deepskyblue;
    }
}
@media (prefers-color-scheme: light) {
    :root {
        --primary-text-color: white;
        --secondary-text-color: darkslategray;
        --primary-background-color: white;
        --secondary-background-color: black;
        --primary-accent-color: darkorange;
        --secondary-accent-color: deepskyblue;
    }
}
.mainHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: var(--primary-text-color);
    color: var(--secondary-accent-color);
    min-height: 100px;
}
.mainHeader div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.mainHeader img {
    max-width: 100px;
    height: auto;
}
.mainHeader nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.mainHeader nav img {
    max-width: 75px;
    height: auto;
}
.intro {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 48%;
    align-items: center;
    justify-content: center;
    color: var(--secondary-text-color);
    background-color: var(--primary-background-color);
}
.intro article {
    padding: clamp(1rem, 3vw, 2.5rem);
    margin: clamp(1rem, 3vw, 2.5rem);
    min-height: 550px;
}
.intro h1 {
    font-size: clamp(16px, 1.2rem, 30px);
    padding: clamp(1rem, 3vw, 2.5rem);
    margin: clamp(1rem, 3vw, 2.5rem);
    color: var(--primary-accent-color);
}
.content {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    gap: clamp(1rem, 3vw, 2.5rem);
    color: var(--primary-text-color);
}
.content div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.content article {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: clamp(1rem, 3vw, 2.5rem);
    margin: clamp(1rem, 3vw, 2.5rem);
    gap: clamp(1rem, 3vw, 2.5rem);
    background-color: rgba(00, 0, 0, 0.75);
}
.content h1, h2, h3 {
    margin: auto;
    color: var(--primary-accent-color);
}
button {
    border: none;
    min-width: 10em;
    font-size: 1rem;
    font-weight: 750;
    border-radius: 5px;
    background-color: var(--secondary-accent-color);
    color: var(--primary-text-color);
}
button:focus {
    outline: 2px solid var(--secondary-accent-color);
    outline-offset: 2px; 
}
button:hover {
    color: var(--primary-accent-color);
    transform: translateY(-2px);
}
.comparison-slider {
    position: relative;
    width: auto;
    max-height: 90vh;
    aspect-ratio: 3/4;
    overflow: hidden;
    cursor: ew-resize;
    min-height: 500px;
}
.comparison-slider img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}
.before-image {
    height: 100%;
}
.after-image {
    position: absolute;
    top: 0;
    left: 90%; 
    width: 100%;
    overflow: hidden;
    height: 100%;
    transition: left 0.4s ease;
}
.slider-handle {
    position: absolute;
    top: 0;
    left: 90%;
    width: 5px;
    height: 100%;
    background-color: var(--primary-text-color);
    cursor: ew-resize;
    z-index: 2;
    transition: left 0.4s ease;
}
.slider-handle p {
    user-select: none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -webkit-touch-callout:none;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: -60px;
    width: 0px;
    color: var(--primary-accent-color);
    cursor: ew-resize;
    z-index: 2;
    transition: left 0.4s ease;
}
.slider-handle:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px;
    width: 25px;
    height: 25px;
    background-color: var(--secondary-accent-color);
    border-radius: 50%;
    border: 3px solid var(--primary-accent-color);
    transform: translateY(-50%);
}
.comparison-slider:hover:active .after-image {
 left: 0;
}
.comparison-slider:hover:active .slider-handle {
 left: 0;
}
.pages {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    justify-content: space-evenly;
    color: var(--primary-background-color);
}
.pages h2 {
    justify-self: center;
}
.pages article {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    min-height: 100px;
}
.pages article h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: clamp(1rem, 3vw, 2.5rem);
    background-color: var(--secondary-accent-color);
    color: var(--primary-text-color);
    border-radius: 5px;
}
.pages article p {
    text-align: center;
    padding: clamp(1rem, 3vw, 2.5rem);
    color: var(--secondary-background-color);
}
.pages article h2:hover {
    color: var(--primary-accent-color);
}
.aboutQuote {
    background-color: var(--primary-background-color);
}
.aboutQuote .content-wrapper {
    flex-direction: column;
    margin: clamp(1rem, 3vw, 2.5rem);
    border: 2px solid var(--secondary-accent-color);
    color: var(--secondary-text-color);
}
.aboutQuote .content-wrapper p{
    display: flex;
    justify-content: flex-end;
    color: var(--primary-accent-color);
    padding: clamp(1rem, 3vw, 2.5rem);
    min-height: 100px;
}
.aboutQuote blockquote {
    padding: clamp(1rem, 3vw, 2.5rem);
}
.sustainability {
    position: relative;
    text-align: center;
    color: var(--primary-background-color);
}
.sustainability article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: clamp(1rem, 3vw, 2.5rem);
    background-color: var(--shadow-secondary-dark);
}
.sustainability button {
    background-color: var(--primary-background-color);
    color: var(--primary-accent-color);
}
.sustainability button:hover {
    color: var(--secondary-accent-color);
}
.faqs {
    margin: clamp(1rem, 3vw, 2.5rem);
    color: var(--primary-text-color);
    background-image: url(Images/deck-building-progress.webp);
    background-position: center;  
    min-height: 100px;
}
.faqs p {
    padding: clamp(1rem, 3vw, 2.5rem);
    background-color: var(--primary-accent-color);
}
.faqs button h3{
    background-color: var(--secondary-accent-color);
    color: var(--primary-text-color);
}
.faqsQA {
    display: flex;
    flex-direction: column;
    width: 100vw;
}
.faqsQA div, .faqsQA details {
    width: 100vw;
}
.faqsQA h1, .faqsQA h2, .faqsQA summary h3 {
    width: 100vw;
    color: var(--primary-accent-color);
    padding: clamp(1rem, 3vw, 2.5rem);
    margin: clamp(1rem, 3vw, 2.5rem);
    gap: clamp(1rem, 3vw, 2.5rem);
    overflow-wrap: break-word;
    cursor: pointer;
    background-color: rgba(00, 0, 0, 0.75);
}
.faqsQA p {
    width: 100vw;
    overflow-wrap: break-word;
    color: var(--primary-text-color);
    padding: clamp(1rem, 3vw, 2.5rem);
    margin: clamp(1rem, 3vw, 2.5rem);
    gap: clamp(1rem, 3vw, 2.5rem);
    background-color: rgba(00, 0, 0, 0.75);
}
.cta {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
}
.cta address {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
    justify-content: center;
    align-items: center;
    margin: clamp(1rem, 3vw, 2.5rem);
    padding: clamp(1rem, 3vw, 2.5rem);
    background-color: var(--secondary-accent-color);
    color: var(--primary-background-color);
}
.cta article {
    margin: clamp(1rem, 3vw, 2.5rem);
    border: 2px solid var(--primary-accent-color);
}
.cta p {
    color: var(--secondary-text-color);
    margin: clamp(1rem, 3vw, 2.5rem)
}
.cta h3, h4 {
    color: var(--primary-accent-color);
    margin: clamp(1rem, 3vw, 2.5rem);
}
.cta button {
    background-color: var(--primary-accent-color);
    color: var(--primary-text-color);
}
.cta button:hover {
    color: var(--secondary-accent-color);
}
footer {
    background-color: var(--primary-background-color);
}
footer .content-wrapper {
    justify-content: space-evenly;
    align-items: center;
    gap: clamp(1rem, 3vw, 2.5rem);
    margin: clamp(1rem, 3vw, 2.5rem);
    color: var(--primary-accent-color);
}